.entries {
    display: flex;
    flex-direction: column;
}

.entry_form {
    flex: 1 1;
    padding: 20px 90px 20px 0;
    font-size: 16px;
    max-width: fit-content;
}

.entry {
    padding-bottom: 2rem;
}