.entries {
    display: flex;
    flex-direction: column;
}

.entry_form {
    flex: 1 1;
    padding: 20px 90px;
    font-size: 16px;
    max-width: fit-content;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: rgb(253, 254, 248, 0.8);
    margin: 10% 0 0 20%;
    }

.entry {
    padding-bottom: 2rem;
}

.input_field {
    height: fit-content;
    width: fit-content;
    padding: 0 0 0 3px;;
}

.input_date_time {
    width: fit-content;
    height: fit-content;
}