@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Syne:wght@520;600&display=swap');

body,
button,
input,
select,
textarea {
  color: #453945;
  font-family: 'Syne', sans-serif;
  font-size: 14px;
  line-height: 1.5;
}

body {
    padding: 0 3rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Fredoka One', cursive;
  letter-spacing: 2px;
  color: #453945;
}
