.navbar {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(253, 254, 248, 0.8);
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    border: 1px solid #453945;
    align-items: center;
    font-size:medium;
}

.navbar__item {
    list-style-type: none;

}

.navbar__link {
    cursor: pointer;
}

.navbar__link:link{
    text-decoration: none;
}

.navbar__link:hover{
    font-size:larger;
}

.nav_logo {
    width: 80px;
    border-radius: 50%;
    margin: 0 70px 0 20px;
}



.navbar__item__center {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.navbar__center{
padding-right: 20px;
}

.navbar__right {
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    padding-right: 20px;
}

.navbar__item__right {
   padding-right: 20px;
}

.nav_baby_image {
    width: 50px;
}
