.navbar {
    display: flex;
    flex-flow: row wrap;
    background-color: rgb(253, 254, 248, 0.8);
    margin: 0;
    margin-bottom: 30px;
    padding: 0;
    border: 1px solid #453945;
    align-items: center;
    font-size: medium;
}

.navbar__item {
    list-style-type: none;

}

.navbar__link {
    cursor: pointer;
    color: #66567e;
}

.navbar__link:link {
    text-decoration: none;
}

.navbar__link:hover {
    text-decoration: underline;
}

.nav_logo {
    width: 80px;
    border-radius: 50%;
    margin: 0 70px 0 20px;
}



.navbar__item__center {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.navbar__center {
    padding-right: 20px;
}

.navbar__right {
    display: flex;
    flex-flow: row nowrap;
    margin-left: auto;
    padding-right: 20px;
}

.navbar__item__right {
    padding-right: 20px;
    align-items: center;
}

.nav_div_right {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav_baby_image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}

.baby_choice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.baby_choice_title,.nav_baby_name {
    font-size: small;
}

.babies_form {
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    background-color: rgb(253, 254, 248, 0.7);
    padding: 20px;
    border: 1px solid #453945;
}

.baby_form {
    flex: 1 1;
    padding: 20px 90px;
    font-size: 16px;
    max-width: fit-content;
    box-shadow: 0px 3px 10px rgb(0 0 0 / 0.3);
    background-color: #E0EEE7;
    border: 1px solid #453945;
    border-radius: 30px;
    margin: 20px 0 0 20px;
}